In [8]:
import pandas as pd
from sqlalchemy import create_engine

e = create_engine('sqlite:///sakila.db')
#すら３つで相対パス４つ絶対パス
q = 'select * from film'

In [9]:
df =  pd.read_sql(q,e)
df.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2011-09-14 18:05:32
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2011-09-14 18:05:32
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2011-09-14 18:05:32
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2011-09-14 18:05:33
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2011-09-14 18:05:33

In [3]:
race_data = pd.read_html("http://db.netkeiba.com/race/201608040711/")
race_data

[    0   1   2          3   4   5     6       7      8      9    ...       11  \
 0   着順  枠番  馬番         馬名  性齢  斤量    騎手     タイム     着差  ﾀｲﾑ指数   ...       上り
 1    1   2   3  サトノダイヤモンド  牡3  57  ルメール  3:03.3    NaN     **   ...     34.1
 2    2   6  11   レインボーライン  牡3  57  福永祐一  3:03.7  2.1/2     **   ...     34.2
 3    3   7  13     エアスピネル  牡3  57    武豊  3:03.7     ハナ     **   ...     34.6
 4    4   3   6  ディーマジェスティ  牡3  57  蛯名正義  3:03.8     クビ     **   ...     34.5
 5    5   4   8   ミッキーロケット  牡3  57  和田竜二  3:04.0  1.1/2     **   ...     34.6
 6    6   2   4   シュペルミエール  牡3  57  北村宏司  3:04.0     ハナ     **   ...     34.7
 7    7   8  18   マウントロブソン  牡3  57  川田将雅  3:04.2  1.1/4     **   ...     35.0
 8    8   1   1    カフジプリンス  牡3  57  岩田康誠  3:04.2     ハナ     **   ...     34.8
 9    9   4   7  レッドエルディスト  牡3  57  四位洋文  3:04.3     クビ     **   ...     34.8
 10  10   8  17   ジュンヴァルカン  牡3  57  Ｍ．デム  3:04.6  1.3/4     **   ...     34.8
 11  11   8  16   プロディガルサン  牡3  57  田辺裕信  3:04.6     クビ     **   ...     35.0
 12  12   5  10      ウムブルフ  牡3  57   浜中俊  3:04.9      2     **   ...     35.9
 13  13   3   5   ミライヘノツバサ  牡3  57  藤岡康太  3:05.0    1/2     **   ...     36.4
 14  14   7  14   アグネスフォルテ  牡3  57  松山弘平  3:05.3      2     **   ...     36.4
 15  15   1   2   ジョルジュサンク  牡3  57   幸英明  3:05.7  2.1/2     **   ...     36.6
 16  16   6  12    コスモジャーベ  牡3  57  丹内祐次  3:06.0  1.3/4     **   ...     36.4
 17  17   5   9      イモータル  牡3  57  ヴェロン  3:07.4      8     **   ...     37.7
 18  18   7  15   サトノエトワール  牡3  57  池添謙一  3:08.1      4     **   ...     39.0

        12  13        14     15      16   17        18             19       20
 0      単勝  人気       馬体重  調教ﾀｲﾑ  厩舎ｺﾒﾝﾄ   備考       調教師             馬主   賞金(万円)
 1     2.3   1   498(-2)    NaN     NaN  NaN  [西] 池江泰寿            里見治  14596.1
 2    24.9   9   444(+2)    NaN     NaN  NaN  [西] 浅見秀一           三田昌宏   5484.6
 3    20.5   6   478(+2)    NaN     NaN  NaN  [西] 笹田和秀      ラッキーフィールド   3342.3
 4     3.2   2   482(+6)    NaN     NaN  NaN  [東] 二ノ宮敬            嶋田賢   1700.0
 5    12.2   4   472(+4)    NaN     NaN  NaN  [西] 音無秀孝          野田みづき   1150.0
 6    21.2   7   488(+2)    NaN     NaN  NaN  [東] 木村哲也      キャロットファーム      NaN
 7    90.9  12   478(-8)    NaN     NaN  NaN   [東] 堀宣行   金子真人ホールディングス      NaN
 8    11.7   3   522(+6)    NaN     NaN  NaN  [西] 矢作芳人            加藤守      NaN
 9    16.3   5    506(0)    NaN     NaN  NaN  [西] 笹田和秀     東京ホースレーシング      NaN
 10   23.5   8  518(+10)    NaN     NaN  NaN  [西] 友道康夫           河合純二      NaN
 11   60.8  11   490(-6)    NaN     NaN  NaN   [東] 国枝栄   金子真人ホールディングス      NaN
 12   26.1  10   460(+2)    NaN     NaN  NaN   [東] 堀宣行       社台レースホース      NaN
 13  139.8  13   486(-2)    NaN     NaN  NaN  [東] 伊藤大士           三島宣彦      NaN
 14  182.1  18   438(+4)    NaN     NaN  NaN  [西] 長浜博之          渡辺公美子      NaN
 15  144.0  14   510(+4)    NaN     NaN  NaN  [西] 鮫島一歩  ＣＨＥＶＡＬＡＴＴＡＣＨＥ      NaN
 16  157.4  15   466(-4)    NaN     NaN  NaN  [東] 和田雄二     ビッグレッドファーム      NaN
 17  170.8  17   522(+2)    NaN     NaN  NaN  [西] 須貝尚介   金子真人ホールディングス      NaN
 18  164.0  16   504(+2)    NaN     NaN  NaN  [西] 角居勝彦            里見治      NaN

 [19 rows x 21 columns],     0       1          2    3
 0  単勝       3        230    1
 1  複勝   31113  130500430  186
 2  枠連   2 - 6       2960   10
 3  馬連  3 - 11       3510   13,      0                    1            2      3
 0  ワイド  3 - 113 - 1311 - 13  10809505460  10945
 1   馬単               3 → 11         4720     17
 2  三連複          3 - 11 - 13        17550     51
 3  三連単          3 → 11 → 13        69380    199,             0                                           1
 0        馬場指数    プレミアサービスにご加入して頂くと馬場指数が確認できます。プレミアサービス案内へ
 1  馬場コメント (?)  プレミアサービスにご加入して頂くと馬場コメントが確認できます。プレミアサービス案内へ,        0                                                  1
 0  1コーナー   5,15-(13,14)2(10,18)3-(1,8)(4,6,7)11(12,16)-17,9
 1  2コーナー   5,15(13,14)(10,2)18(1,3)(8,7)(4,6)11(12,16)-17,9
 2  3コーナー  5-14(15,10)(13,2)(4,18)(1,3)(12,16,6)(8,7)11(1...
 3  4コーナー  5-(14,10)2(13,18,3,6)15(4,8)(1,7,11)(12,16)(17,9),      0                                                  1
 0  ラップ  13.0 - 11.3 - 11.0 - 12.4 - 12.2 - 12.7 - 13.6...
 1  ペース  13.0 - 24.3 - 35.3 - 47.7 - 59.9 - 72.6 - 86.2...,             0                                          1
 0  分析コメント (?)  プレミアサービスにご加入して頂くとレース分析が確認できます。プレミアサービス案内へ,                                              0
 0                                        着順:馬名
 1  プレミアサービスにご加入して頂くとレース後の短評が確認できます。プレミアサービス案内へ]

In [27]:
len(race_data)

8

In [5]:
race_data[4]

       0                                                  1
0  1コーナー   5,15-(13,14)2(10,18)3-(1,8)(4,6,7)11(12,16)-17,9
1  2コーナー   5,15(13,14)(10,2)18(1,3)(8,7)(4,6)11(12,16)-17,9
2  3コーナー  5-14(15,10)(13,2)(4,18)(1,3)(12,16,6)(8,7)11(1...
3  4コーナー  5-(14,10)2(13,18,3,6)15(4,8)(1,7,11)(12,16)(17,9)

In [29]:
race_data[3]

            0                                           1
0        馬場指数    プレミアサービスにご加入して頂くと馬場指数が確認できます。プレミアサービス案内へ
1  馬場コメント (?)  プレミアサービスにご加入して頂くと馬場コメントが確認できます。プレミアサービス案内へ

#サーバサイドカーソル
サーバーサイドで
接続を
#クライアントサイドカーソル
クライアント側にいっきに落ちる
イレータ一回取り出すとなくなる